<p>form-product-in-sale works!</p>

<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="fill">
        <p>Cost GHc</p>
        <mat-label>ID</mat-label>
        <input formControlName="cost" matInput placeholder="Cost" >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p>Cost GHc</p>
        <mat-label>SaleID</mat-label>
        <input formControlName="cost" matInput placeholder="Cost" >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p>Cost GHc</p>
        <mat-label>PigID</mat-label>
        <input formControlName="cost" matInput placeholder="Cost" >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <p>Notes</p>
        <textarea formControlName="notes" matInput placeholder="Ex. Maize feed"></textarea>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Save Changes</button>
        <a mat-stroked-button routerLink="/product-in-sales">Cancel</a>
    </div>
</form>
