<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>Asmah & Earl Piggery</a>
    </span>
    <div>
        <a mat-button routerLink="expenses"> Expenses </a>
    </div>
    <div>
        <a mat-button routerLink="medical-records"> Medical Records </a>
    </div>
    <div>
        <a mat-button routerLink="pens"> Pens</a>
    </div>
    <div>
        <a mat-button routerLink="pigs"> Pigs</a>
    </div>
    <div>
        <a mat-button routerLink="product-in-sales"> Products In Sale</a>
    </div>
    <div>
        <a mat-button routerLink="sales"> Sales</a>
    </div>
    <div>
        <a mat-button routerLink="weight-records"> Weight Records</a>
    </div>
  </mat-toolbar>